<!doctype html>
<html>

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="http://localhost:5000/assets/css/output.css" rel="stylesheet">
</head>

<body>
    <h1 class="text-3xl font-bold underline text-green-600">
        Hello world! s
    </h1>
    <h1 class="text-3xl font-bold underline text-red-600">
        Hello world! s
    </h1>
</body>

</html>